


.login-form {
 
    background-position: center;
    padding: 20px;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
  }
  
  h1, h3 {
    text-align: center;
    color: #020202;
  }
  
  form {
    background-color: rgba(130, 212, 157, 0.8);
    padding: 50px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #020202;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    
    background-color: #3e8e41;
  }
  
  span {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: #4CAF50;
  }
  